<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="YusongCompanyEntities" connectionString="metadata=res://*/LWPModule.csdl|res://*/LWPModule.ssdl|res://*/LWPModule.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RIB-CN-DEV442\LONGSQLSERVER;initial catalog=YusongCompany;persist security info=True;user id=sa;password=1qaz@WSX3edc;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>